body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.icon-bar {
    width: 50px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.icon-button:hover {
    background-color: #444;
}

.icon-button img {
    width: 30px;
    height: auto;
}

.logout-button {
    margin-top: auto;
    background-color: #ff4b4b;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #e43e3e;
}

.contacts {
    flex: 0.5;
    background-color: #333;
    color: #fff;
    overflow: auto;
}

.contacts header {
    padding: 10px;
}

/* Combined list */
.combined-list {
    list-style-type: none;
    padding: 0;
}

.chat {
    flex: 2.5;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chat header, .chat footer {
    padding: 20px;
}

.chat-history {
    flex: 1;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.received {
    align-self: flex-start;
    background-color: #e9e9e9;
}

.sent {
    align-self: flex-end;
    background-color: #007BFF;
    color: #fff;
}

footer {
    padding: 10px;
    display: flex;
}

footer input {
    flex: 1;
    padding: 10px;
}

footer button {
    padding: 10px 15px;
    margin-left: 10px;
}

.clickable-username:hover {
    cursor: pointer;
    color: #007BFF; 
    text-decoration: underline;
}

